:root {
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-bright-blue-2: hsl(245, 79%, 62%);
  --clr-bright-blue: hsl(245, 75%, 52%);
  --clr-card-annual-bg: hsl(230, 86%, 97%);
  --clr-very-pale-blue: hsl(225, 100%, 98%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-dark-blue: hsl(223, 47%, 23%);

  --fs-main: 1rem;

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-dark: 900;

  --ff-main: "Red Hat Display", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* General styling */
body {
  font-family: var(--ff-main);
  font-size: var(--fs-main);
  font-weight: var(--fw-medium);
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: url("./images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--clr-pale-blue);
  /* margin: 1rem; */
}

/* Card Styling */
.card {
  max-width: 25rem;
  background-color: var(--clr-very-pale-blue);
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card__content {
  padding: 2rem;
  text-align: center;
}

.card__title {
  font-size: 1.5rem;
  font-weight: var(--fw-dark);
  color: var(--clr-dark-blue);
}

.card__description {
  color: var(--clr-desaturated-blue);
  margin-top: 1rem;
}

.annual {
  background-color: var(--clr-card-annual-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.annual-col1 {
  display: flex;
  gap: 1rem;
}

.music-icon {
  background-color: var(--clr-pale-blue);
  border-radius: 50%;
}

.annual__title {
  font-size: 0.975rem;
  font-weight: var(--fw-dark);
  color: var(--clr-dark-blue);
}

.annual__price {
  color: var(--clr-desaturated-blue);
  font-size: 0.975rem;
}

.annual-change {
  color: var(--clr-bright-blue);
  font-weight: var(--fw-bold);
  text-decoration: underline;
  font-size: 0.9rem;
}

.annual-change:hover {
  text-decoration: none;
  color: var(--clr-bright-blue-2);
}

.bottom-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card__btn {
  background-color: var(--clr-bright-blue);
  color: var(--clr-very-pale-blue);
  font-weight: var(--fw-bold);
  padding: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: -1px 5px 23px -13px rgba(56, 41, 224, 1);
  -moz-box-shadow: -1px 5px 23px -13px rgba(56, 41, 224, 1);
  box-shadow: -1px 5px 23px -13px rgba(56, 41, 224, 1);
}

.card__btn:hover {
  background-color: var(--clr-bright-blue-2);
}

#card-order {
  color: var(--clr-desaturated-blue);
  font-weight: var(--fw-dark);
  font-size: 0.875rem;
}

#card-order:hover {
  color: var(--clr-dark-blue);
}
